name: docker-centos7-slurm
on:
  push:
    branches:
      - master
  pull_request: {}
jobs:
  Build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version:
          - "3.9"
      fail-fast: false
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version}}

      - name: Install Dependencies
        run: |
          python${{ matrix.python-version }} -m pip install --upgrade pip
          python${{ matrix.python-version }}-m pip install pipenv
          pipenv --python ${{ matrix.python-version }} install --dev --skip-lock

      - name: Run Tests
        run: |
          pipenv run pytest -sv
